.horizontal-holder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50vw;
    max-width: 400px;
    min-width: 200px;
    height: fit-content;
}