.maze-step {
    width: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-icon {
    font-size: 200% !important;
}

.user-icon-small {
    font-size: 200% !important;
}