.button {
    background-color: black;
    color: white;
    font-size: 50px;
    width: 50vw;
    max-width: 400px;
    min-width: 200px;
    border: none;
    border-radius: 10px;
    margin: 5vh;
    padding: 2vh 0;
}

.button:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.1s;
}